* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: scroll;
  letter-spacing: 2px;
}

#app {
  background: url("../assets/beach\ \(1\).jpg");
  background-size: cover;
  background-position: bottom;
  min-height: 100vh;
  font-family: "Questrial", sans-serif;
}
